{{template "base" .}}

{{define "title"}}Crear un nuevo Snippet{{end}}

{{define "body"}}
<form action='/snippet/create' method='POST'>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
        <div>
            <label>Titulo:</label>
            {{with .Errors.Get "title"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='text' name='title' value='{{.Get "title"}}'>
        </div>
        <div>
            <label>Contenido:</label>
            {{with .Errors.Get "content"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <textarea name='content'>{{.Get "content"}}</textarea>
        </div>
        <div>
            <label>Eliminar en:</label>
            {{with .Errors.Get "expires"}}
                <label class='error'>{{.}}</label>
            {{end}}
            {{$exp := or (.Get "expires") "365"}}    
            <input type='radio' name='expires' value='365' {{if (eq $exp "365")}}checked{{end}}> Un año
            <input type='radio' name='expires' value='7' {{if (eq $exp "7")}}checked{{end}}> Una semana
            <input type='radio' name='expires' value='1' {{if (eq $exp "1")}}checked{{end}}> Un dia
        </div>
        <div>
            <input type='submit' value='Publicar'>
        </div>
    {{end}}    
</form>
{{end}}
